ul
  li
    a(href='/')
      i.fa.fa-home.fa-fw.fa-2x
      span Home
  li
    a(href='/about')
      i.fa.fa-newspaper-o.fa-fw.fa-2x
      span About
  li
    a(href='/faq')
      i.fa.fa-question-circle.fa-fw.fa-2x
      span Faq

  li
    a(href='/aliens')
      i.fa.fa-reddit-alien.fa-fw.fa-2x
      span Alien

  li
    a(href='/aliens/new')
      i.fa.fa-plus.fa-fw.fa-2x
      span Add New Alien
